<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <h2>
      <%= link_to "#{post.title}", post %>
    </h2>
    <p>
      <%= post.author %>
    </p>
    <br>
    <br>
  <% end %>
</div>

<div>
  <% if user_signed_in? %>
    <%= link_to "New post", new_post_path %>
  <% end %>
</div>